/* Common styles */
/* line 24, ../sass/style.scss */
body {
  min-width: 960px;
  font-family: "Roboto-Bold", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

/* line 31, ../sass/style.scss */
.main-header {
  max-width: 1920px;
}

/* line 34, ../sass/style.scss */
.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

/* line 39, ../sass/style.scss */
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/*
*
Header 
*
*/
/* line 51, ../sass/style.scss */
.main-header {
  background-color: #e1e1e1;
}
/* line 55, ../sass/style.scss */
.main-header .main-header-navigation {
  width: 940px;
}
/* line 59, ../sass/style.scss */
.main-header h1 {
  width: 220px;
  display: block;
  float: left;
  margin: 20px 40px 20px 10px;
  font-size: 32px;
  color: #000;
}
/* line 68, ../sass/style.scss */
.main-header ul {
  display: block;
  float: right;
  max-width: 690px;
  margin: 30px 0 0 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
/* line 78, ../sass/style.scss */
.main-header li {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  font-size: 14px;
}
/* line 84, ../sass/style.scss */
.main-header li:last-child {
  margin-right: 0;
}

/* line 89, ../sass/style.scss */
.main-content {
  background-color: #6DDDD9;
  font-size: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 95, ../sass/style.scss */
.main-content .portfolio-content {
  margin-bottom: 40px;
}
/* line 107, ../sass/style.scss */
.main-content .box {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 46px;
  vertical-align: top;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* line 124, ../sass/style.scss */
.main-content .box:after {
  content: "";
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* line 139, ../sass/style.scss */
.main-content .box:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
/* line 145, ../sass/style.scss */
.main-content .box:hover:after {
  opacity: 1;
}
/* line 150, ../sass/style.scss */
.main-content .box:nth-child(4n) {
  margin-right: 0px;
}
/* line 155, ../sass/style.scss */
.main-content .feedback {
  float: left;
  background-color: #1E8884;
}
/* line 158, ../sass/style.scss */
.main-content .feedback h2 {
  display: block;
  width: 300px;
  float: left;
  margin-top: 0;
  font-size: 24px;
  color: #fff;
}
/* line 166, ../sass/style.scss */
.main-content .feedback p {
  display: block;
  width: 400px;
  float: left;
  font-size: 14px;
  color: #fff;
}
/* line 173, ../sass/style.scss */
.main-content .feedback img {
  float: right;
}
