// Color
$color: #971717;
$header_bg: #e1e1e1;
$container_bg: #6DDDD9;
$feedback_bg: #1E8884;

// Font-size & Font-Family
$base_font_page: 14px;
$header_1: 32px;
$header_2: 24px;


// Width
$max_width: 1920px;
$min_width: 960px;
$container_width: 960px;
$h_header_width: 220px;





/* Common styles */
body {
	min-width: $min_width;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-size: $base_font-page;
	font-weight: 300;
	margin: 0;
}
.main-header {
	max-width: $max_width;
}
.container {
	margin: 0 auto;
	padding: 0 10px;
	width: $container_width - (10px * 2);
	}
.clearfix {
	content: "";
	display: table;
	clear: both;
}


/*
*
Header 
*
*/
.main-header {
	background-color: $header_bg;
	
	//navigation
	.main-header-navigation {
		width: $container_width - 20px;
	}
		//h1
		h1 {
			width: $h_header_width;
			display: block;
			float: left;
			margin: 20px 40px 20px 10px;
			font-size: $header_1;
			color: #000;
		}
			//ul 
			ul {
				display: block;
				float: right;
				max-width: $container_width - $h_header_width - 50px;
				margin: 30px 0 0 0;
				padding: 0;
				font-size: 0;
				list-style: none;
			}
				//li
				li {
					display: inline-block;
					vertical-align: top;
					margin-right: 30px;
					font-size: $base_font_page;

					&:last-child {
						margin-right: 0;
					}
				}
}
.main-content {
	background-color: $container_bg;
	font-size: 0;
	padding-top: 40px;
	padding-bottom: 40px;
	
	.portfolio-content {
		margin-bottom: 40px;
	}
	//mixin
	@mixin border-radius($box_border_radius) {
		-webkit-border-radius: $box_border_radius;
		-moz-border-radius: $box_border_radius;
		-ms-border-radius: $box_border_radius;
		-o-border-radius: $box_border_radius;
		border-radius: $box_border_radius;
	}
		.box {
			position: relative;
			display: inline-block;
			width: 200px;
			height: 200px;
			margin-top: 20px;
			margin-bottom: 20px;
			margin-right: 46px;
			vertical-align: top;
			background-color: #fff;
			@include border-radius(5px);
			
			// select last-child in row
			&:nth-child(4n) {
				margin-right: 0px;
			}
		}
	.feedback {
		float: left;
		background-color: $feedback_bg;
			h2 {
				display: block;
				width: $h_header_width + 80px;
				float: left;
				margin-top: 0;
				font-size: $header_2;
				color: #fff;
			}
				p {	
					display: block;
					width: 400px;
					float: left;
					font-size: $base_font_page;
					color: #fff;
				}
					img {
						float: right;
					}
	}	
}

	




